apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: reverse_proxy
  name: reverse_proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      service: reverse_proxy
  template:
    metadata:
      labels:
        service: reverse_proxy
    spec:
      containers:
      - image: reverse_proxy
        name: reverse_proxy
        imagePullPolicy: Always          
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "1024Mi"
            cpu: "500m"       
        ports:
        - containerPort: 8080
      restartPolicy: Always